[Desktop Entry]
Name=Easy Shot
Comment=Minimal Linux screenshot tool
Exec=easy_shot
Icon=com.example.easy_shot
Terminal=false
Type=Application
NoDisplay=true
Categories=Graphics;Utility;
StartupNotify=true
StartupWMClass=com.example.easy_shot
X-GNOME-WMClass=com.example.easy_shot
